.FormEntrada{
    height: 400px;
    max-width: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #79b4db, #2093b6);
    padding: 30px 30px;
    font-size: 20px;
    text-align: center;
}

.Formulario{
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
}
.tiempo-box{
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 15px;
}


.Formulario .titulo-componente {
    font-size: 25px;
    font-weight: 700;
}

.Formulario .placa {
    font-size: 20px;
}
.boton-entrada{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: #5fe26c;
    border-radius: 6px;
    border: 2px solid #067049;
}
